@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

//COLORS
$primary-bg-color: #333A73;
$secondary-bg-color: #387ADF;
$primary-accent-color: #fba834d9;
$secondary-accent-color: #50C4ED;
$glass-menu-color: linear-gradient(rgba(80, 196, 237), rgba(80, 196, 237, 0.64));
$overlay-bg-color: rgba(56, 122, 223, 0.39);

//EFFECTS
$todo-shadow: -2px 0px 10px rgba(0, 0, 0, 0.25), 2px 5px 10px rgba(0, 0, 0, 0.25);

//FONTS
$primary-font: 'Lato', sans-serif;
$button-font: 'Lato', sans-serif;

//FONT SIZES
$small-font: 18px;
$medium-font: 20px;
