@import "variables";

.service {
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background-color: $secondary-accent-color;
  background-image: url("../assets/skatteverket-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  margin-top: 1.75rem;
}

.overlay {
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  position: fixed;
  top: 8.4rem; 
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $overlay-bg-color;
  max-width: 22.25rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);

}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 10rem;

  .close-btn {
    background-image: url("../assets/exit-btn.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    height: 33px;
    width: 33px;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
  }

  .address_btn {
    all: unset;
    background-color: $primary-accent-color;
    border-radius: 30px;
    padding: 1rem 1rem;
    box-shadow: $todo-shadow;
  }
  .address_input {
    all: unset;
    text-align: left;
    text-decoration: underline black;
    color: black;
    margin-bottom: 1.5rem;
  
  }
}

@media screen and (min-width: 768px) {
}
