@import "variables";

.service {
  cursor: pointer;
  height: 100px;
  width: 100px;
  background-color: $secondary-accent-color;
  background-image: url("../assets/skatteverket-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  margin-top: 1.75rem;
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 8.4rem;
  left: 2rem;
  display: flex;
  justify-content: center;
  background-color: $overlay-bg-color;
  width: 83.5%;
  height: 60%;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 10rem;
  

  .close-btn {
    background-image: url("../assets/exit-btn.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    height: 33px;
    width: 33px;
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
  }

  .adress_btn {
    all: unset;
    background-color: $primary-accent-color;
    border-radius: 30px;
    padding: 1rem 1rem;
    box-shadow: $todo-shadow;
  }
}
