@import "variables";

.modal {
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
    position: fixed;
    top: 8.4rem;  // You might want to adjust this based on your header's height or use a relative unit if necessary.
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $overlay-bg-color;
    max-width: 22.25rem;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.modal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;  // Center the content vertically and horizontally.
    width: 90%;  // Adjust based on your design, ensuring some padding inside the modal.

    .close_btn {
        background-image: url("../assets/exit-btn.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        height: 33px;
        width: 33px;
        position: absolute;
        top: 20px;
        right: 20px;  // Adjusted to be consistent with top padding
        cursor: pointer;
    }
}
