@import "variables";

.todoList {
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  background-color: $secondary-bg-color;
  font-family: $primary-font;
  font-size: $small-font;
  color: white;
  margin-top: 2.5rem;
  border-radius: 20px;
  max-width: 22.25rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      margin-top: 1rem;
      padding: 0.5rem 0.5rem;
      border-radius: 10px;
      background-color: $secondary-accent-color;
      box-shadow: $todo-shadow;
    }
  }
  .addNewTask_btn {
    all: unset;
    background-color: $primary-accent-color;
    border-radius: 30px;
    padding: 1rem 1rem;
    box-shadow: $todo-shadow;
  }
}

.todo_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}
.delete_btn {
  margin-top: 3rem !important;
  max-width: 16rem !important;
  min-width: 16rem !important;
  all: unset;
  background-color: $primary-accent-color;
  border-radius: 30px;
  padding: 1rem 1rem;
  box-shadow: $todo-shadow;
}

.update_btn {
  margin-top: 3rem !important;
  max-width: 16rem !important;
  min-width: 16rem !important;
  all: unset;
  background-color: $primary-accent-color;
  border-radius: 30px;
  padding: 1rem 1rem;
  box-shadow: $todo-shadow;
}

